{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game.password }}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

    {% if game %}
    <p>Password: {{game.password}}</p>
    <p>Max Players: {{game.max_players}}</p>
    <p>Starting Life: {{game.starting_life}}</p>

    <h3><b>Players in game:</b></h3>
        {% for player in game.players.all %}
            <div id="player">
            <b>{{ player.name }}</b><br>
            <form id="increase-life-{{ player.id }}" method="PUT">{% csrf_token %}<input type="submit" value="+"></form>
            Life Total: {{ player.life_total }}<br>
            Poison Counters: {{ player.poison_counters }}<br>
            Experience Counters: {{ player.exp_counters }}<br>
            Commander Damage Taken:
                {% for damage in player.damage_taken.all %}
                    {{ damage.from_player }} ({{ damage.cmdr_dmg }})
                {% endfor %}
            </div>
            <hr>
        {% endfor %}

    {% else %}
        <p>No Players in this game</p>
    {% endif %}

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>